@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #65558f;
  --on-primary: #ffffff;
  --primary-container: #eaddff;
  --primary-container: #21005d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
